/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 de out. de 2024, 07:56:37
    Author     : Admin
*/

.root {
    -fx-background-color: #373737;
}

.menu-bar {
    -fx-background-color: #262626;
}

.menu {
    -fx-background-color: #262626;
}

.menu:hover {
    -fx-background-color: #FF6600;
}

.menu-item {
    -fx-background-color: #262626;
    -fx-border-color: transparent;
}

.separator-menu-item {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: #575757;
    -fx-text-fill: #FFFFFF;
    -fx-border-width: 0px;
}

.table-view:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0px
}

.table-view .column-header {
    -fx-background-color: #FF6600;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0px 1px 0px 0px;
}

#dtNascCliente {
    -fx-border-width: 0px 0px 0px 0px;
}

.table-view .table-cell {
    -fx-text-fill: #FFFFFF;
}

.table-row-cell:focused {
    -fx-background-color: #121212;
    -fx-text-fill: #FFFFFF;
}

.table-row-cell:odd {
    -fx-background-color: #575757;
    -fx-text-fill: #FFFFFF;
}

.table-row-cell:even {
    -fx-background-color: #484848;
    -fx-text-fill: #FFFFFF;
}

.label {
    -fx-text-fill: #FFFFFF;
}

#tituloPag {
    -fx-text-fill: #FF6600;
}

.text-field {
    -fx-background-color: #575757;
    -fx-border-color: #ff6600;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-box-shadow: 0 0 5px rgba(255, 102, 0, 0.75);
    -fx-text-fill: #FFFFFF;
}

.text-area {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: #575757;
    -fx-border-color: #ff6600;
    -fx-border-style: solid;
    -fx-border-width: 0px 0px 2px 0px;
    -fx-box-shadow: 0 0 5px rgba(255, 102, 0, 0.75);
}

.date-picker {
    -fx-border-style: none;
    -fx-border-color: transparent;
    -fx-background-color: #262626;
    -fx-text-fill: #000000;
}

.button {
    -fx-background-color: #FF6600;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 5px;
}

